.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 30px;

    background-color: #111;
    color: white;
}

.logo {
    font-size: 1.2rem;
    font-weight: bold;
}

.links {
    display: flex;
    gap: 15px;
}

.links a {
    color: white;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}